<h1>Movie index</h1>

<%= form_tag 'movies/index', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<%= @results.each do |result| %>
	<%= result %>
<% end %>



